################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/WebApp/.vs/WebApp/v16
/WebApp/WebApp/bin/Debug/netcoreapp3.0
/WebApp/WebApp/obj
/.vs
/WebApp/packages
/WebApp/WebApp.Tests/bin/Debug/netcoreapp3.0
/WebApp/WebApp.Tests/obj
/assemblies
/WebApp/.vs/WebApp/DesignTimeBuild
